

 <!-- <div *ngFor="let part of newProduct | keyvalue">
      <img 
        src="{{part.Image}}"
        alt="product-image" 
        class="image-responsive" 
        style="max-height: 400px;"
    >
    <p>{{part.Name}}</p> 
     <p>{{part.Code | convertToSpaces:'-'}}</p> 
    <p>{{part.Available}}</p>
    <p>{{part.Price | currency:'USD':'symbol':'1.2-2'}}</p>  
    <p>{{part.Stars}}</p> 
</div>    -->

<div
    *ngFor="let product of newProduct"
>
    <img 
        src="{{product.Image}}"
        alt="product-image" 
        class="image-responsive" 
        style="max-height: 400px;"
    >
    <p>{{product.Name}}</p> 
    <p>{{product.Code | convertToSpaces:'-'}}</p>
    <p>{{product.Available}}</p>
    <p>{{product.Price | currency:'USD':'symbol':'1.2-2'}}</p> 
    <p>{{product.Stars}}</p> 
</div>  



