<nav class="navbar">
   <!-- <div class="container-fluid"> -->
    <!-- <h2>Random! Product Management Platform</h2>
            <ul>
                <li>
                    <a routerLink="/homepage-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Home
                    </a>
                </li>
                <li >
                    <a routerLink="/product-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Product List
                    </a>
                </li>
            </ul> -->
    <!-- </div>  -->
    </nav>
<router-outlet></router-outlet>