<!-- <app-filter-by></app-filter-by> -->

<!-- <form>
    <input 
        placeholder="search by product name" 
        type="text"
        class="form-control"
        (input)="onUpdateSearchString($event)" 
    >
    <button onClick="onSubmitSearch()">Search</button>
</form>
<p>{{searchString}}</p> -->

    <app-filter-by></app-filter-by>
    <div *ngFor="let product of testArr">
        <!-- <a routerLink="/product-page" routerLinkActive="active" ariaCurrentWhenActive="page">
            {{product.Name}}
        </a> -->
        <p>{{product.Name}}</p>
        <p>{{product.Code}}</p>
        <p>{{product.Available}}</p>
        
    </div>

    <!-- <app-product-page [receivedProducts] = "testArr"></app-product-page>   -->
    <!-- <h2>TestARR!</h2>
        <div *ngFor="let item of testArr">
            
            <p>{{item}}</p>
        </div> -->

