<app-filter-by></app-filter-by>
<br/>
<br/>
<button (click)="toggleImg()" type="button" class="btn btn-primary" [innerText]="displayBtnText"></button>
<div 
    *ngFor="let product of newProductsArr"
    class="card"
    style="width: 22rem;"
>
    <div class="card-body">
            <a [routerLink]="['/product-page', product.Index]" routerLinkActive="active" ariaCurrentWhenActive="page">  
                {{product.Name}}
            </a> 
            <br/>
        <img 
            *ngIf="showProductImg" 
            src="{{product.Image}}"
            alt="product-image" 
            class="image-responsive" 
            style="max-height: 400px; max-width: 33vw"
        >

        <p>{{product.Code | convertToSpaces:'-'}}</p>
        <p>{{product.Available}}</p>
        <p>{{product.Price | currency:'USD':'symbol':'1.2-2'}}</p> 
        <p>{{product.Stars}}</p>  
    </div>  
</div>

